input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  
  input[type=text]:focus {
    border: 3px solid #555;
  }

  .container{
    margin-top: 50px;
    border-radius: 10px;
      padding-top: 50px;
      background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
  }